
.row{
    border: 2px solid black;
}

.col{
    border: 2px dashed darkgray;
    background-color: lightyellow;
}


.bg-green{
    background-color: lightgreen;
}


ul{
    list-style-type: none;
}

